.showSearchInput {
    width: 200px;
    min-width: 200px;
}

.movieCard {
    &_button {
        min-width: 100%;
    }

    &_card {
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        align-items: flex-start;

        min-width: 100%;
        width: 100%;
    }

    &_img {
        min-width: 210px;
        width: 210px;
        max-width: 210px;
        min-height: 295px;
        height: 295px;
        max-height: 295px;
    }

    &_img-episode {
        min-width: 250px;
        width: 250px;
        max-width: 250px;
        min-height: 140px;
        height: 140px;
        max-height: 140px;
    }

    &_name {
        padding-left: 100px;
        text-align: left;
        font-size: @fontSizeM;
        font-weight: bold;
        color: @fontColorMain;
        }

    &_summary {
        padding-left: 20px;
        text-align: left;
        padding-top: 20px;
        font-size: @fontSizeSM;
        font-weight: normal;
        color: @fontColorMain;
    }

    &_descr {
        min-width: 250px;
        width: 250px;
        max-width: 250px;
        padding-left: 20px;
        padding-top: 20px;
        font-size: @fontSizeSM;
        font-weight: bold;
        color: @fontColorMain;
    }
}
