.showSearchInput {
  width: 200px;
  min-width: 200px;
}
.movieCard_button {
  min-width: 100%;
}
.movieCard_card {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 100%;
  width: 100%;
}
.movieCard_img {
  min-width: 210px;
  width: 210px;
  max-width: 210px;
  min-height: 295px;
  height: 295px;
  max-height: 295px;
}
.movieCard_img-episode {
  min-width: 250px;
  width: 250px;
  max-width: 250px;
  min-height: 140px;
  height: 140px;
  max-height: 140px;
}
.movieCard_name {
  padding-left: 100px;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  color: black;
}
.movieCard_summary {
  padding-left: 20px;
  text-align: left;
  padding-top: 20px;
  font-size: 18px;
  font-weight: normal;
  color: black;
}
.movieCard_descr {
  min-width: 250px;
  width: 250px;
  max-width: 250px;
  padding-left: 20px;
  padding-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: black;
}
.browserRouterMainRow {
  padding-bottom: 50px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-width: 100%;
  font-size: 40px;
  color: black;
}
.header_right-text {
  font-weight: bold;
}
.header_left-text {
  font-weight: normal;
}
.horizontalMenu {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-width: 100%;
  height: 50px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background: linear-gradient(-45deg, #b0c800, #0068a9 0, #0068a9 33%, #002749 100%, #b0c800 0);
}
.showSearchInput {
  width: 200px;
  min-width: 200px;
}
