.browserRouterMainRow {
    padding-bottom: 50px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    min-width: 100%;
    font-size: 40px;
    color: @fontColorMain;

    &_right-text {
        font-weight: bold;
    }

    &_left-text {
        font-weight: normal;
    }
}
