.horizontalMenu {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    min-width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background: @arvatoBgrBlue;
}

.showSearchInput {
    width: 200px;
    min-width: 200px;
}
